[submodule "code/tools/litjson"]
	path = code/tools/litjson
	url = https://github.com/LitJSON/litjson.git
[submodule "code/tools/YamlDotNet"]
	path = code/tools/YamlDotNet
	url = git@gitee.com:longdaddy/YamlDotNet.git
[submodule "code/tools/HtmlAgilityPack"]
	path = code/tools/HtmlAgilityPack
	url = https://github.com/zzzprojects/html-agility-pack.git
[submodule "code/tools/SimpleJSON"]
	path = code/tools/SimpleJSON
	url = https://github.com/Bunny83/SimpleJSON.git
[submodule "code/tools/plugins/ceil"]
	path = code/tools/plugins/ceil
	url = https://github.com/jbevain/cecil.git
