obj
/code/tools/encrypt/obj
/code/tools/encryptFile/obj
/code/tools/excel/obj
/code/tools/fileDownload/obj
/code/tools/fileVersion/obj
/code/tools/findText/obj
/code/tools/library/obj
/code/tools/library-excel/obj
/code/tools/library-u/obj
/code/tools/library-ue/obj
/code/tools/scenario_tools/obj
/code/tools/test/obj