<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<appSettings>
		<add key="defineRoot" value=""/>
		<add key="defineSave" value=""/>
		<add key="md5key" value=""/>
		<add key="exclude" value=""/>
	</appSettings>
</configuration>
